openapi: 3.0.0
info:
  title: TODD AI Backend API
  description: >
    OpenAI-integration and search/find endpoints exposed by the main TODD Express
    backend (todd-backend/functions). Covers openaiRoutes.js (AI assistant,
    document, contact-enrichment, marketing-employee, and content generation
    endpoints) and findRoutes.js (Find search/summarize endpoints). This is
    distinct from the separate todd-assistant microservice already documented
    elsewhere.
  version: 1.0.0
servers:
  - url: https://api.todd.taliferro.com/api
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: >
        Shared-secret bearer token. Handlers read `Authorization: Bearer <key>`
        and compare it to the server's TALIFERRO_TECH environment variable.
        This is a static shared secret, not a per-user JWT/OAuth token.
security:
  - ApiKeyAuth: []
paths:
  /openai:
    post:
      summary: Get a general OpenAI assistant response, optionally aware of sender-approval and contact state
      tags: [OpenAI Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                hasApprovedSender:
                  type: boolean
                hasContacts:
                  type: boolean
      responses:
        '200':
          description: OpenAI response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /marketing-employee/chat:
    post:
      summary: Generate a conversational reply from a tenant's Marketing Employee persona
      tags: [Marketing Employee]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                employeeId:
                  type: string
                message:
                  type: string
                context:
                  type: object
      responses:
        '200':
          description: Marketing Employee chat response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to generate Marketing Employee chat response
  /marketing-employee/execute-action:
    post:
      summary: Execute a Marketing Employee action for a tenant
      tags: [Marketing Employee]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                employeeId:
                  type: string
                action:
                  type: object
      responses:
        '200':
          description: Action executed, result returned
        '400':
          description: Failed to execute Marketing Employee action
        '403':
          description: Unauthorized - invalid or missing API key
  /marketing-employee/extract-plan:
    post:
      summary: Extract a structured marketing plan from raw uploaded/pasted text
      tags: [Marketing Employee]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rawText:
                  type: string
                employee:
                  type: object
                sourceType:
                  type: string
                sourceFileName:
                  type: string
      responses:
        '200':
          description: Extracted marketing plan returned
        '400':
          description: A fuller marketing plan is required for extraction (rawText missing or under 20 characters)
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to extract marketing plan
  /marketing-director/advice:
    post:
      summary: Generate advice from the public Marketing Director assistant persona
      tags: [Marketing Director]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                history:
                  type: array
                  items:
                    type: object
                accessMode:
                  type: string
                includeWhy:
                  type: boolean
                  description: Return a concise business rationale in a separate why field.
                workspaceContext:
                  type: object
      responses:
        '200':
          description: Marketing Director advice returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to generate Marketing Director advice
  /parse-query:
    post:
      summary: Parse a free-text query into a structured AI-parsed query
      tags: [OpenAI Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
      responses:
        '200':
          description: Parsed query returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to parse query with OpenAI
  /contact-insight:
    post:
      summary: Generate an AI insight/summary for a contact profile
      tags: [Contact Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
      responses:
        '200':
          description: Contact insight returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to generate contact insight
  /lead-vault-recommendation:
    post:
      summary: >
        Generate (or return a cached) AI purchase recommendation for a Lead
        Vault record, gated by a per-purchaser entitlement document
      tags: [Lead Vault]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recordId:
                  type: string
                purchaserEmail:
                  type: string
                goal:
                  type: string
                record:
                  type: object
      responses:
        '200':
          description: Recommendation returned (freshly generated or cached)
        '400':
          description: Missing recordId, purchaserEmail, or record payload
        '403':
          description: Unauthorized - invalid API key, or recommendation access denied (no matching entitlement)
        '500':
          description: Failed to generate Lead Vault recommendation
  /suggestions:
    post:
      summary: Generate general assistant suggestions
      tags: [Suggestions]
      security: []
      responses:
        '200':
          description: Suggestions returned
        '500':
          description: Failed to generate suggestions
  /filtering-suggestions:
    post:
      summary: Generate filter-related suggestions
      tags: [Suggestions]
      security: []
      responses:
        '200':
          description: Filtering suggestions returned
        '500':
          description: Failed to generate suggestions
  /prospect-query:
    post:
      summary: Get an AI response tailored to prospecting, using page and profile context
      tags: [Prospecting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                pageContext:
                  type: object
                profileContext:
                  type: object
      responses:
        '200':
          description: Prospect response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /email-assistant:
    post:
      summary: Get a general email-assistant response for a prompt
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: Email assistant response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /email-drafting/metadata:
    get:
      summary: Get metadata describing available structured email drafting options
      tags: [Email]
      responses:
        '200':
          description: Email drafting metadata returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to load email drafting metadata
  /email-drafting/draft:
    post:
      summary: Generate a structured email draft from the given inputs
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Structured drafting inputs, forwarded as-is to the drafting service
      responses:
        '200':
          description: Structured email draft returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to generate structured email draft
  /landing-personalize:
    post:
      summary: Generate personalized landing page content for a visitor profile
      tags: [Landing Page]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                context:
                  type: object
      responses:
        '200':
          description: Landing page personalization returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to personalize landing page
  /app-assistant:
    post:
      summary: Get an in-app assistant response routed by domain context
      tags: [OpenAI Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                data:
                  type: object
                domain:
                  type: string
      responses:
        '200':
          description: Routed assistant response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /document-assistant:
    post:
      summary: >
        Get assistance with a document prompt; switches to proposal-generation
        mode when both rfp and proposals are supplied
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                document:
                  type: object
                rfp:
                  type: object
                proposals:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Document assistant response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /analyze-email:
    post:
      summary: Analyze email content for tone or intent
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: Email analysis returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /grammar-check:
    post:
      summary: Run a grammar/style check over a piece of text
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: Grammar check result returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /document-helper:
    post:
      summary: >
        Multi-mode document helper: transforms existing HTML given instructions,
        generates a document from scratch, handles RFP/proposal mode, or falls
        back to a legacy prompt-only response, depending on which fields are present
      tags: [Documents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                document:
                  type: object
                rfp:
                  type: object
                proposals:
                  type: array
                  items:
                    type: object
                instructions:
                  type: string
                html:
                  type: string
                topic:
                  type: string
                audience:
                  type: string
                tone:
                  type: string
                length:
                  type: string
                format:
                  type: string
                title:
                  type: string
                style:
                  type: string
                extra:
                  type: string
      responses:
        '200':
          description: Document helper response returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to get response from OpenAI
  /parse-for-contact:
    post:
      summary: Parse a LinkedIn-style profile into a structured contact
      tags: [Contact Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
      responses:
        '200':
          description: Parsed contact returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Error parsing LinkedIn profile
  /reconfigure-contact:
    post:
      summary: Reconfigure/normalize data fields in a contact profile
      tags: [Contact Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
      responses:
        '200':
          description: Reconfigured contact returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Error parsing LinkedIn profile
  /enrich-contact:
    post:
      summary: Enrich a contact/company profile with additional AI-derived information
      tags: [Contact Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                tenantId:
                  type: string
      responses:
        '200':
          description: Enriched contact returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Error parsing LinkedIn profile
  /start-contact-processing:
    post:
      summary: Kick off asynchronous bulk contact processing for a tenant/user
      tags: [Contact Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: Contact processing started successfully
        '400':
          description: Missing tenantId or userId
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Error starting contact processing
  /content-converter:
    post:
      summary: Convert raw web content into structured parsed content
      tags: [Content]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Parsed content returned
        '500':
          description: Error processing content
  /email-hook:
    post:
      summary: Generate an email opening "hook" line from context
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
      responses:
        '200':
          description: Email hook returned
        '400':
          description: Missing context in body
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Error generating email hook
  /note-analyzer:
    post:
      summary: Analyze note content and extract suggested actions/tasks
      tags: [Content]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Note actions returned
        '500':
          description: Error analyzing note content
  /matchmaker-analyzer:
    post:
      summary: Analyze how well an interested party matches given criteria/candidate matches
      tags: [Matchmaking]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                interestedParty:
                  type: object
                criteria:
                  type: object
                matches:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Match analysis returned
        '500':
          description: Error running match analysis
  /assistant-query:
    post:
      summary: Combined assistant/task routing decision for a prompt
      tags: [OpenAI Core]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: Parsed assistant task or query returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to process assistant query
  /best-customer-analysis:
    post:
      summary: Analyze a list of contacts to identify best-customer patterns
      tags: [Customer Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contacts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Customer analysis returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to process assistant query
  /create-campaign:
    post:
      summary: >
        Generate email campaign drafts for a tenant, enriched with tenant
        company profile, writing identity, and active feature promotions
      tags: [Email]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignData:
                  type: object
                tenantId:
                  type: string
      responses:
        '200':
          description: Campaign drafts returned
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Failed to process campaign
  /template-tokens:
    post:
      summary: Generate template tokens/placeholders from a prompt
      tags: [Content]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: Template tokens returned
        '500':
          description: Failed to generate template tokens
  /find/search:
    post:
      summary: Run a Find search query and return AI-generated results
      tags: [Search]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                context:
                  type: string
                maxResults:
                  type: number
      responses:
        '200':
          description: Find search response returned
        '400':
          description: Missing query
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Find search failed
  /find/summarize:
    post:
      summary: Summarize a specific URL/page in the context of a Find query
      tags: [Search]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                url:
                  type: string
                title:
                  type: string
      responses:
        '200':
          description: Summary returned
        '400':
          description: Missing url
        '403':
          description: Unauthorized - invalid or missing API key
        '500':
          description: Find summarize failed
