
openapi: 3.0.0
info:
  title: TODD Pulse (Survey) API
  description: >-
    API for TODD's Pulse feature: survey authoring, publishing, search, and
    response collection, plus the Stripe-backed billing flow that unlocks
    survey publishing. None of these routes have server-side auth middleware
    mounted in front of them (no `attachAuthContext` or token verification is
    applied to `surveyRoutes.js` or `surveyBillingRoutes.js` in `index.js`).
    Authenticated-app routes optionally read `x-tenant-id` / `x-user-id` /
    `x-user-email` headers to scope data to a tenant, but these values are
    trusted as-is and are not cryptographically verified.
  version: 1.0.0
servers:
  - url: https://api.todd.taliferro.com/api
security: []
paths:
  /surveys:
    post:
      summary: Create a new survey with title, description, and questions
      tags: [Pulse Surveys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                questions:
                  type: array
                  items:
                    type: object
                    properties:
                      questionText:
                        type: string
                      questionType:
                        type: string
                      options:
                        type: array
                        items:
                          type: string
                      required:
                        type: boolean
                      order:
                        type: number
                      helpText:
                        type: string
                      placeholder:
                        type: string
                status:
                  type: string
                  enum: [draft, published, archived]
                visibility:
                  type: string
                  enum: [private, public, link_only]
                responseCount:
                  type: number
                ownerId:
                  type: string
                tenantId:
                  type: string
      responses:
        '201':
          description: Survey created
        '400':
          description: Validation failed for the survey payload
        '500':
          description: Failed to create survey
    get:
      summary: List surveys with paging and optional filters
      tags: [Pulse Surveys]
      parameters:
        - name: pageSize
          in: query
          schema:
            type: number
        - name: pageToken
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, archived]
        - name: visibility
          in: query
          schema:
            type: string
            enum: [private, public, link_only]
        - name: ownerId
          in: query
          schema:
            type: string
        - name: tenantId
          in: query
          schema:
            type: string
        - name: sortBy
          in: query
          schema:
            type: string
        - name: sortDirection
          in: query
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: Paged list of surveys returned
        '400':
          description: Validation failed for the derived search request
        '500':
          description: Failed to list surveys
  /surveys/{id}:
    get:
      summary: Get a single survey by id
      tags: [Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Survey returned
        '404':
          description: Survey not found
        '500':
          description: Failed to get survey
    put:
      summary: Update fields on an existing survey
      tags: [Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                questions:
                  type: array
                  items:
                    type: object
                    properties:
                      questionText:
                        type: string
                      questionType:
                        type: string
                      options:
                        type: array
                        items:
                          type: string
                      required:
                        type: boolean
                      order:
                        type: number
                      helpText:
                        type: string
                      placeholder:
                        type: string
                status:
                  type: string
                  enum: [draft, published, archived]
                visibility:
                  type: string
                  enum: [private, public, link_only]
                responseCount:
                  type: number
                ownerId:
                  type: string
                tenantId:
                  type: string
      responses:
        '200':
          description: Survey updated
        '400':
          description: Validation failed for the survey payload
        '404':
          description: Survey not found
        '500':
          description: Failed to update survey
    delete:
      summary: Delete a survey by id
      tags: [Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Survey deleted
        '404':
          description: Survey not found
        '500':
          description: Failed to delete survey
  /surveys/{id}/publish:
    post:
      summary: Publish a survey, making it publicly accessible (paid feature)
      tags: [Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Survey published
        '404':
          description: Survey not found
        '500':
          description: Failed to publish survey
  /surveys/{id}/unpublish:
    post:
      summary: Unpublish a previously published survey
      tags: [Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Survey unpublished
        '404':
          description: Survey not found
        '500':
          description: Failed to unpublish survey
  /surveys/search:
    post:
      summary: Run a structured search over surveys using explicit filters
      tags: [Pulse Surveys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pageSize:
                  type: number
                pageToken:
                  type: string
                filters:
                  type: object
                  properties:
                    query:
                      type: string
                    status:
                      type: string
                      enum: [draft, published, archived]
                    visibility:
                      type: string
                      enum: [private, public, link_only]
                    ownerId:
                      type: string
                    tenantId:
                      type: string
                    sortBy:
                      type: string
                    sortDirection:
                      type: string
                      enum: [asc, desc]
      responses:
        '200':
          description: Search results returned
        '400':
          description: Validation failed for the search payload
        '500':
          description: Failed to search surveys
  /surveys/search/nlp:
    post:
      summary: Run a natural-language search over surveys
      tags: [Pulse Surveys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                pageSize:
                  type: number
                pageToken:
                  type: string
      responses:
        '200':
          description: NLP search results returned
        '400':
          description: Validation failed for the NLP search payload
        '500':
          description: Failed to run NLP search for surveys
  /surveys/{id}/responses:
    post:
      summary: Submit a response to a survey (authenticated context)
      tags: [Pulse Survey Responses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                surveyId:
                  type: string
                  description: Optional; defaults to the id path parameter if omitted
                tenantId:
                  type: string
                responses:
                  type: array
                  items:
                    type: object
                submittedAt:
                  type: string
                  description: Timestamp of submission; required
      responses:
        '201':
          description: Survey response submitted
        '400':
          description: Validation failed for the response payload
        '500':
          description: Failed to submit survey response
    get:
      summary: Get all responses collected for a survey
      tags: [Pulse Survey Responses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Survey responses returned
        '500':
          description: Failed to get survey responses
  /public/surveys/{id}:
    get:
      summary: Get a published survey by id for anonymous/public viewing
      tags: [Public Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Public survey returned
        '404':
          description: Survey not found
        '500':
          description: Failed to get public survey
  /public/surveys/{id}/responses:
    post:
      summary: Submit a response to a published survey anonymously
      tags: [Public Pulse Surveys]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                surveyId:
                  type: string
                  description: Optional; defaults to the id path parameter if omitted
                tenantId:
                  type: string
                responses:
                  type: array
                  items:
                    type: object
                submittedAt:
                  type: string
                  description: Timestamp of submission; required
      responses:
        '201':
          description: Public survey response submitted
        '400':
          description: Validation failed for the response payload
        '500':
          description: Failed to submit public survey response
  /survey/checkout:
    post:
      summary: Create a Stripe Checkout session for the survey-publishing subscription
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                email:
                  type: string
                referrerUid:
                  type: string
                priceId:
                  type: string
                  description: Optional Stripe price id override; must start with "price_" or the default survey subscription price is used
      responses:
        '200':
          description: Checkout session created; returns checkoutUrl, sessionId, and orderId
        '400':
          description: tenantId or email missing from the request
        '500':
          description: Stripe price id not configured, or checkout session creation failed
  /survey/checkout/confirm:
    post:
      summary: >-
        Confirm a completed Stripe Checkout session and activate paid survey
        publishing for the tenant
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
      responses:
        '200':
          description: Tenant marked with active survey billing status
        '400':
          description: sessionId missing, or the Stripe session is not yet completed
        '404':
          description: Checkout session not found
        '500':
          description: Checkout confirmation failed
